extends ../../layouts/default

block content
    h2 Account Confirmation Email
    br
    p Hi #{model.name}

    if(model.inviteToken)
        p You are invited to join ShareCabs Network. Click on below link to reset your password.
        a(href=model.inviteLink, title='Reset Password', style='text-decoration:none;') Reset Password

    else
        p You are invited to join ShareCabs Network. Click on below link to login.
        a(href=model.inviteLink, title='Login', style='text-decoration:none;') Login To ShareCabs.
