extends ../../layouts/default

block content
    h2 Contact Us Email
    br
    p Hi #{model.name}
    p Your message: #{model.message}
    p Thanks to contact with us. Will contact you back shortly.
