body {
	font-family: 'Segoe UI', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a, i {
	cursor: pointer;
}
.p-0{
	padding:0px !important;
}
.pt-1{
	padding-top:1rem;
}
.pt-5{
	padding-top:5rem;
}
.pt-15{
	padding-top:15rem;
}
.m-0{
	margin:0px;
}
.m-5{
	margin:5px;
}
.m-10{
	margin:10px;
}
.m-20{
	margin:20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.mt-30{
	margin-top: 30px;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.minWidth130{
	min-width: 130px !important;
}
/*.full-height {*/
	/*height: 100%;*/
/*}*/
.ui.visible.left.overlay.sidebar {
	position: fixed !important;
	height: 100% !important;
}
.ui.segment:last-child {
	margin: 1rem 0em;
}
.mainLogin {
	text-align: center;
	box-shadow: 0px 0px 37px -14px #2185d0 !important;
	border: 0px !important;
}
.mainLogin h3.ui.header.side {
	color: #000000;
	font-size: 25px;
	font-weight: 900;
	padding-bottom: 23px;
}
.blueBg {
	background-image: linear-gradient(to right top, #0142e5, #154fec, #245cf3, #3168f9, #3d74ff);
	height: 100vh;
	padding: 2% 20%;
}
.loginForm {
	padding: 20%;
	height: 12vh;
}
.plainTextContent {
	padding: 10%;
	height: 94vh;
}
.text-white{
	color: #fff;
}
.blueBg h1 {
	font-size: 70px;
	/*border-bottom: 1px solid;*/
}
.blueBg p {
	font-size: 17px;
	letter-spacing: 6px;
	border-top: 1px solid #fff;
	float: left;
	padding: 10px 0;
	color: #fff;
}
.loginForm .ui.segment.centered.loginOuter {
	border: transparent;
	box-shadow: unset;
}
.ui.form .field.field input:-webkit-autofill {
	-webkit-box-shadow: 0px 0px 0px 100px #FFFFF0 inset !important;
	box-shadow: 0px 0px 0px 100px #FFFFF0 inset !important;
	border-color: #376ffc !important;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #376ffc !important;
}
.loginOuter .field.field input{
	border-color: #eee !important;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
}
.ui.large.input{
	width:100% !important;
}
.ui.bg-primary{
	background-color: #2d62c7;
	color: #fff;
}
.ui.table thead th {
    border-bottom: 3px solid transparent;
}
.ui.table thead th.active {
	border-bottom: 3px solid #0142E5;
}
.ui.table thead th.active a{
	color: #1e70bf;
}
.ui.table td {
    padding: 17px 13px;
    text-align: inherit;
}
.ui.attached.bottom.button{
	border-radius:5px;
}
.ui.bg-primary:hover{
	background-color: #2d62c7cf;
	color: #fff;
}
.footer{
	text-align: center;
}
.text-center{
	text-align: center;
}
.bg-success {
	box-shadow: 11px 0px 0px -6px #15D54B inset;
}
.bg-warning {
	-webkit-box-shadow: 11px 0px 0px -6px #EAD520 inset;
	box-shadow: 11px 0px 0px -6px #EAD520 inset;
	font-weight: 700;
}
.bg-danger{
	box-shadow: 11px 0px 0px -6px #E22B2B inset;
}
.pushable .ui.thin.left.sidebar, .ui.thin.right.sidebar {
	width: 300px;
	background: linear-gradient(205deg, transparent 0%, transparent 100%);
}
.pushable .ui.visible.thin.left.sidebar ~ .pusher{
	-webkit-transform: translate3d(150px, 0, 0);
	transform: translate3d(300px, 0, 0);
	padding-right: 310px;
}
button.ui.button.hide {
	display: none;
}
.ui.segment.pushable {
	height: auto;
	margin: 0;
	min-height: 100%;
}
.ui.borderless.menu {
	display: -ms-flexbox;
	display: flex;
	margin: 1rem 0em;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	font-weight: normal;
	border: 0;
	border-bottom: 1px solid rgba(34, 36, 38, 0.15);
	-webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0);
	border-radius: 0;
	min-height: 3.857143em;
}
.pusher .ui.segment:last-child {
	margin: 0;
}
.full-height{
	height:100%;
}
.innerData .row {
	margin: 0;
	padding-top: 0 !important;
}
.ui.celled.table tr th, .ui.celled.table tr td {
	border-left: 0px solid rgba(34, 36, 38, 0.1);
}
.ui.table thead th {
	background: #E3ECF3;
}
.ui.table tfoot th {
	background: #f9fafb00;
}
.ui.segment {
	border-radius: 0;
	border: 0;
}
a {
	color: #323232;
}
.mainContent {
	padding-left: 0 !important;
}
.ui.borderless.menu {
	padding-left: 13px;
}
.ui.menu .active.item {
	background: rgba(0, 0, 0, 0);
}
.ui.borderless.menu a.active.item {
	border-bottom: 3px solid #3468f8;
	border-radius: 0px !important;
}
.ui.message {
	border: 0 !important;
	box-shadow: none;
	background: #f0f3ff;
	margin-top: 10px !important;
}
i.small.icon, i.small.icons {
	margin: 0em 1.25rem 0em 0em;
	font-size: 14px;
	cursor: pointer;
}
.ui.pagination.right.floated.menu {
	background: #eee;
	min-height: auto !important;
	border: 1px solid #dedede;
	border-radius: 80px;
}
a.ui.basic.button.page-item.active {
	background: transparent !important;
	box-shadow: none;
	color: #3062f5 !important;
}
.ui.message > .close.icon {
	top: 1em;
}
.ui.top.attached.header.Primary {
	background: #356afa;
	color: #fff;
    padding:15px;
}
input {
    border: 0 !important;
    border-bottom: 1px solid #dedede !important;
    border-radius: 0px !important;
}
.ui.primary.buttons .button, .ui.primary.button {
    background-color: #356afa;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}
.indicator{
    float: right;
}
span.statusPending{
    background: #EAD520;
 }
span.statusDenied{
    background: #E22B2B;
}
span.statusActive{
    background: #15D54B;
}
span.statusPending, .statusDenied, .statusActive {
    height: 13px;
    width: 13px;
    border-radius: 30px;
    float: left;
}
.indicator .content {
    float: left;
    margin-top: -2px;
    padding-left: 3px;
}
.ui.selection.dropdown {
    border: 0px;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0px;
}
.ui.selection.dropdown .menu {
    border-top-width: 1px !important;
}
.updated {
	margin-top: 20px !important;
}
.detailCard {
	width: 100%;
	padding: 15px;
}
.ui.card {
	width: 100%;
}
.ui.secondary.pointing.menu {
	border-bottom: 0px solid rgba(34, 36, 38, 0.15);
	width: 60%;
	box-shadow: 0px 0px 32px -9px #323232;
	border-radius: 10px 10px 0px 0px;
}
.ui.form textarea {
	border: navajowhite;
	border-bottom: 1px solid #dadada;
	font-size:13px !important;
}
.ui.secondary.pointing.menu .active.item {
	border-color: #0761C6;
	color: #0761C6;
}
.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
	background-color: transparent;
	color: #0761C6;
}
.editContent .ui.segment{
	border-radius: 0;
	border: 0;
	box-shadow: 0px 0px 24px -9px #323232;
	padding: 20px 20px 36px;
}
.ui.segment .fields .ui.button {
	background: #e0e1e240 none;
}
.ui.form .field > label {
	background: #32323214;
	padding: 8px 14px;
	display: -webkit-inline-box;
	width: 100%;
}
.ui.button:hover {
	background-color: #356afa !important;
	color: #fff;
}
.ui.secondary.pointing.menu .item {
	width: 25%;
}
.serviceListing .fields {
	clear: both;
	float: left;
}
.serviceListing .field {
	width: 96%;
}
.serviceListing .fields {
	width: 90%;
}
.fields.deleteContent {
	width: 100%;
}
.deleteContent label {
	width: 84%;
}
.newServices .field{
	padding: 6px 0;
}
.hand-pointer:hover div {
	color: #000;
}
.radioBtn {
	margin-right: 30px;
}
.item {
	color: #000000 !important
}
@media only screen and (max-width: 767px) {
	.blueBg {
		height: 32vh;
		padding: 2% 20%;
	}
	h1.pt-15.text-white {
		padding:0px;
		font-size:35px;
	}
	.loginForm {
		padding: 42px 20%;
		height: 44vh;
	}
	.plainTextContent {
		padding: 2px 3%;
		height: 98vh;
	}
	.blueBg p {
		font-size: 15px;
		letter-spacing: 0px;
	}
}
